<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<form method="get">	
	
 <!-- 加载编辑器的容器 -->
    <script id="container" name="ceshi" type="text/plain">
        这里写你的初始化内容
    </script>
    <input type="submit" name="">
    </form>
    <!-- 配置文件 -->
    <script type="text/javascript" src="__THIRD__/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="__THIRD__/ueditor/ueditor.all.min.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container',{
            serverUrl: "{:url('admin/index/ueditor')}"
        });
    </script>
</body>
</html>