/*** asuma 定制主题css ***/

.layadmin-side-shrink .layui-layout-admin .layui-logo{width: 60px;background-image:url(../images/logo.png);}
.layui-btn{border-radius:3px;}
.layui-btn-radius{border-radius:100px;}
.layui-laypage-em{border-radius:3px;}
.layui-label-asuma{width: auto;}
.asuma-form-item label{width: 60px;}

/*主题色*/
.layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a, .layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a{background-color:#1163C6 !important;}
.layui-nav-tree .layui-nav-bar{background-color:#1163C6;}
.layui-laypage .layui-laypage-curr .layui-laypage-em{background-color:#338fe5;}

/*按钮色*/
.layui-btn-asuma{background-color:#338fe5;}
.layui-btn-primary:hover{border-color:#338fe5;}
/*链接色*/
.layadmin-link{color:#338fe5 !important;}

/*选中色*/
.layui-form-checked[lay-skin="primary"] i{border-color:#409EFF;background-color:#409EFF;}
.layui-form-checkbox[lay-skin="primary"]:hover i{border-color:#409EFF;}
.layui-form-select dl dd.layui-this{background-color:#409EFF;}
.layui-form-radio > i:hover, .layui-form-radioed > i{color:#409EFF;}
.layui-form-onswitch{border-color:#409EFF;background-color:#409EFF;}
.layui-form-checked span, .layui-form-checked:hover span{background-color:#409EFF;}
.layui-form-checkbox[lay-skin="primary"] span{background: 0 0;}
.layui-form-checked i, .layui-form-checked:hover i{color:#409EFF;}

/*layer*/
.asuma-layer .layui-layer-btn0{background-color:#338fe5;border-color:#338fe5;}

/*error 页*/
.error-tips{margin-top:100px;}
.layadmin-tips .layui-text{border-top:4px solid #747883;}
.layadmin-tips .layui-icon[face]{color: #747883;}