{extend name="public/base" /}
{block name="title"}首页{/block}
{block name="content"}
<form>
	<input type="text" name="title" value="nihao">
	<input type="hidden" name="{:config('this.form_token')}" value="{$Request.token}" />
	<button type="button" id="sure">确定</button>
</form>
{/block}
{block name="footjs"}
<script type="text/javascript">
	$('#sure').on('click', function(){
		var data = $(this).parent('form').serialize()
		$.post('index/index/test', data, function(res){
			console.log(res)
		});
	})
</script>
{/block}
