{extend name="public/base" /}
{block name="title"}后台管理员{/block}
{block name="content"}
<div class="layui-fluid">   
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
      <div class="layui-form-item asuma-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">登录名</label>
          <div class="layui-input-block">
            <input type="text" name="username" placeholder="用户名/手机号/邮箱" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">姓名</label>
          <div class="layui-input-block">
            <input type="text" name="truename" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">角色</label>
          <div class="layui-input-block">
            <select name="role">
              <option></option>
              {volist name="roles" id="vo"}
              <option value="{$vo.id}">{$vo.title}</option>
              {/volist}
            </select>
          </div>
        </div>
        <div class="layui-inline">
          <button class="layui-btn layui-btn-asuma layuiadmin-btn-admin" lay-submit lay-filter="admin-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
        </div>
      </div>
    </div>
    
    <div class="layui-card-body">
      <div style="padding-bottom: 10px;">
        <button class="layui-btn layui-btn-asuma layuiadmin-btn-admin" data-type="add">添加</button>
      </div>
      
      <table id="udzan-admin" lay-filter="udzan-admin"></table>  
      
    </div>
  </div>
</div>
{/block}
{block name="footjs"}
<script type="text/html" id="statusTpl">
  {{# if(d.id == 1){ }}
  <button class="layui-btn layui-btn-xs layui-btn-primary status-btn">开启</button>
  {{# }else{ }}
  <input type="checkbox" name="status" value="{{d.id}}" title="开启" lay-filter="optstatus" {{d.status == 1 ? 'checked' : ''}}>
  {{# } }}
</script>
<script type="text/html" id="optTpl">
  <a class="layui-btn layui-btn-asuma layui-btn-xs" lay-event="edit">编辑</a>
  {{# if(d.id == 1){ }}
  <a class="layui-btn layui-btn-disabled layui-btn-xs" >删除</a>
  {{# }else{ }}
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  {{# } }}
</script>
<script>
  layui.config({
    base: '__THIRD__/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'table'], function(){
    var $ = layui.$
    ,form = layui.form
    ,table = layui.table;

    var tableInx =table.render({
      elem: '#udzan-admin'
      ,url: "{:url('adminList')}" //数据接口
      ,page: true //开启分页
      ,limits:[10,15,20]
      ,done:function (res, curr, count) {
        if(count <= this.limit){
          $('.layui-table-page').addClass('layui-hide');//总条数小于每页限制条数时隐藏分页
        }
      }
      ,cols: [[ //表头
        {field: 'id', title: 'ID',  sort: true, width:65}
        ,{field: 'login_name', title: '用户名'}
        ,{field: 'name', title: '姓名'}
        ,{field: 'phone', title: '手机号'} 
        ,{field: 'email', title: '邮箱'}
        ,{field: 'groupNames', title: '角色'}
        ,{field: 'create_time', title: '创建时间', sort: true}
        ,{field: 'status', title: '状态', templet: '#statusTpl'}
        ,{title: '操作', toolbar: '#optTpl'}
      ]]
    });
    
    //监听搜索
    form.on('submit(admin-search)', function(data){
      var field = data.field;
      
      //执行重载
      table.reload('udzan-admin', {
        where: field
        ,page:{curr:1}
      });
    });

    table.on('sort(udzan-admin)',function(obj){
      if(tableInx.config.page.count <= tableInx.config.page.limit){
        $('.layui-table-page').addClass('layui-hide');//总条数小于每页限制条数时隐藏分页
      }
    })

    form.on('checkbox(optstatus)', function(obj){
      var wish = obj.elem.checked
      var id = obj.value
      $.post("{:url('changeAdminStatus')}",{id:id, status: wish}, function(res){
        if(res.code != 1){
          layer.tips(res.result, obj.othis, {tips:1});
          obj.elem.checked = !wish;
          form.render('checkbox');
        }
      }, 'json')
    })

    //事件
    var active = {
      add: function(){
        layer.open({
          type: 2
          ,title: '添加管理员'
          ,content: "{:url('addAdmin')}"
          ,area: ['420px', '500px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            var iframeWindow = window['layui-layer-iframe'+ index]
            ,submitID = 'asuma-admin-submit'
            ,submit = layero.find('iframe').contents().find('#'+ submitID);

            //监听提交
            iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
              var field = data.field; //获取提交的字段
              
              //提交 Ajax 成功后，静态更新表格中的数据
              $.post("{:url('pulladmin')}", field, function(res){
                if(res.code == 1){
                  table.reload('udzan-admin',{page:{curr:1}}); //数据刷新
                  layer.close(index); //关闭弹层
                }else{
                  layer.msg(res.result, {icon: 5});
                }
              }, 'json')
              
            });
            
            submit.trigger('click');
          }
        }); 
      }
      ,edit:function(obj){
        layer.open({
          type: 2
          ,title: '编辑管理员'
          ,content: "{:url('addAdmin')}?id="+obj.data.id
          ,maxmin: true
          ,btnAlign:'l'
          ,area: ['420px', '550px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            var iframeWindow = window['layui-layer-iframe'+ index]
            ,submitID = 'asuma-admin-submit'
            ,submit = layero.find('iframe').contents().find('#'+ submitID);

            //监听提交
            iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
              var field = data.field; //获取提交的字段
              
              //提交 Ajax 成功后，静态更新表格中的数据
              $.post("{:url('updateAdmin')}", field, function(res){
                if(res.code == 1){
                  table.reload('udzan-admin'); //数据刷新
                  layer.close(index); //关闭弹层
                }else{
                  layer.msg(res.result, {icon: 5});
                }
              }, 'json')
              
            });
            submit.trigger('click');
          }
        });
      }
      ,del:function(obj) {
        console.log(obj)
        let msg = '即将删除用户：'+obj.data.login_name
        layer.confirm(msg, {title:'<span style="color:red;font-weight:bold;font-size:15px;">确认删除？</span>'},function(index){
          $.post("{:url('changeAdminStatus')}",{id:obj.data.id, status: 'delete'}, function(res){
            if(res.code == 1){
              layer.close(index)
              tableInx.reload()
            }else if(res.code == -2){
              layer.msg(res.result, {time:1500},function(){
                layer.close(index)
              });
            }else{
              layer.msg(res.result);
            }
          }, 'json')
        });
      }
    }

    table.on('tool(udzan-admin)', function(obj){
      var type = obj.event
      active[type].call(this, obj);
    })

    $('.layui-btn.layuiadmin-btn-admin').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });
</script>
{/block}