{extend name="public/original" /}
{block name="title"}编辑权限{/block}
{block name="css"}
<style type="text/css">
  .layui-input-inline{width: 260px !important;}
</style>
{/block}
{block name="content"}
<div class="layui-form" lay-filter="filter-form-auth" id="form-auth" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
      <label class="layui-form-label">权限名</label>
      <div class="layui-input-inline">
        <input type="text" name="authtitle" lay-verType="tips" lay-verify="required" placeholder="请输入权限名称" autocomplete="off" class="layui-input" value="{$info.title}" >
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">权限标识</label>
      <div class="layui-input-inline">
        <input type="text" name="authname"  placeholder="请输入标识" autocomplete="off" class="layui-input" value="{$info.name}" disabled="">
      </div>
    </div>
    {if $info.run_type==1}
    <div class="layui-form-item" id="menuCtl">
      <label class="layui-form-label">设为菜单</label>
      <div class="layui-input-inline">
        <input type="checkbox" lay-filter="menuSwt" name="is_menu" lay-skin="switch" lay-text="是|否" value="1" {$info.is_menu == 1 ? 'checked=""' : '' }>
      </div>
    </div>
    <div class="layui-form-item" id="iconCtl" {if $info.is_menu != 1}style="display: none;"{/if}>
      <label class="layui-form-label">图标</label>
      <div class="layui-input-block">
        <input type="text" id="iconPicker" lay-verify="Menu" lay-filter="iconPicker" name="icon" value="{$info.icon|default=' '}">
      </div>
    </div>
    <div class="layui-form-item" id="weight" {if $info.is_menu != 1}style="display: none;"{/if}>
      <label class="layui-form-label">权重</label>
      <div class="layui-input-inline">
        <input type="text" name="sorted" class="layui-input" value="{$info.sorted|default=0}" lay-verify="number">
      </div>
    </div>
    {else/}
    <div class="layui-form-item" id="logCtl">
      <label class="layui-form-label">记录日志</label>
      <div class="layui-input-inline">
        <input type="checkbox" name="is_log" lay-skin="switch" lay-text="是|否" value="1" {$info.is_logged == 1 ? 'checked=""' : '' }>
      </div>
      <div class="layui-form-mid layui-word-aux">请在需要记录日志的行为时再开启</div>
    </div>
    {/if}
    <div class="layui-form-item">
      <label class="layui-form-label">权限描述</label>
      <div class="layui-input-block" >
        <textarea placeholder="对权限的描述或者记录日志的行为描述" class="layui-textarea" name="desc" lay-verType="tips" lay-verify="descNeed">{$info.remark}</textarea>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">状态</label>
      <div class="layui-input-inline">
        <input type="checkbox" name="status" lay-skin="switch" lay-text="正常|关闭" value="1" {$info.status == 1 ? 'checked=""' : '' }>
      </div>
    </div>
    <div class="layui-form-item layui-hide">
      <input type="hidden" name="rule_id" value="{$info.id}">
      <input type="hidden" name="{:config('this.form_token')}" value="{$Request.token}" />
      <input type="button" lay-submit lay-filter="auth-submit" id="auth-submit" value="确认">
    </div>
  </div>
{/block}
{block name="footjs"}
<script>
  layui.config({
    base: '__JS__/layuiext/' //静态资源所在路径
  }).use(['form', 'laytpl', 'iconPicker'], function(){
    var form = layui.form 
    ,iconPicker = layui.iconPicker;

    iconPicker.render({
        // 选择器，推荐使用input
        elem: '#iconPicker',
        // 数据类型：fontClass/unicode，推荐使用fontClass
        type: 'fontClass',
        // 是否开启搜索：true/false，默认true
        search: false,
        // 是否开启分页：true/false，默认true
        page: true,
        // 每页显示数量，默认12
        limit: 20,
        cellWidth: '20%',
        // 点击回调
        click: function (data) {
            //console.log(data);
        },
        // 渲染成功后的回调
        success: function(d) {
            //console.log(d);
        }
    });

    form.on('switch(menuSwt)', function(data){
      if(data.elem.checked){
        $('#iconCtl').show();
        $('#weight').show();
      }else{
        $('#iconCtl').hide();
        $('#weight').hide();
      }
    })

    form.verify({
      Menu: function(value, item){
        if($('input[name=is_menu]').prop('checked') && !$.trim(value)){
          return '请给菜单选择一个图标';
        }
      }
      ,descNeed: function(value, item){
        if($('input[name=is_log]').prop('checked') && !$.trim(value)){
          return '开启记录日志时权限描述为必填项';
        }
      }
    })

    //监听提交
    form.on('submit(auth-submit)', function(data){
      var field = data.field; //获取提交的字段
      var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引  

      //提交 Ajax 成功后，关闭当前弹层并重载表格
      $.post("{:url('editRule')}", data.field, function(res){
        if(res.code == 1){
          parent.layui.table.reload('udzan-rule'); //重载表格
          parent.layer.close(index); //再执行关闭 
        }else{
          layer.msg(res.result, {icon: 5});
        }
      },'json');
    });
  })
</script>
{/block}