{extend name="public/base" /}
{block name="title"}操作日志{/block}
{block name="content"}
<div class="layui-fluid">   
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
      <div class="layui-form-item asuma-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">行为用户</label>
          <div class="layui-input-inline">
            <input type="text" name="username" placeholder="用户名" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">时间</label>
          <div class="layui-input-inline">
            <input type="text" class="layui-input" id="timepicker" name="datetime">
          </div>
        </div>
        <div class="layui-inline">
          <button class="layui-btn layui-btn-asuma layuiadmin-btn-admin" lay-submit lay-filter="log-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
        </div>
      </div>
    </div>
    
    <div class="layui-card-body">
      <div style="padding-bottom: 10px;" id="addOpt" data-url="{:url('addAdmin')}">
        <button class="layui-btn layui-btn-asuma layuiadmin-btn-admin" data-type="batchDel" data-url="{:url('batchDeleteLogs')}">删除</button>
      </div>
      
      <table id="operation-log" lay-filter="operation-log" data-url="{:url('logList')}"></table>
      
    </div>
  </div>
</div>
{/block}
{block name="footcss"}
<link rel="stylesheet" href="__CSS__/laydate.css" media="all">
{/block}
{block name="footjs"}
<script type="text/javascript" src="__STATIC__/mod/admin/authset/operation_log.js"></script>
{/block}