{extend name="public/base" /}
{block name="title"}基本资料{/block}
{block name="content"}
<div class="layui-fluid">
<div class="layui-row layui-col-space15">
  <div class="layui-col-md12">
    <div class="layui-card">
      <div class="layui-card-header">设置我的资料</div>
      <div class="layui-card-body" pad15>
        
        <form class="layui-form" lay-filter="">
          <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
            	<div class="layui-form-mid layui-elip">{$user.login_name}</div>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">我的角色</label>
            <div class="layui-form-mid layui-elip">{$roles}</div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
              <input type="text" name="truename" value="{$user.name}" lay-verify="required" autocomplete="off" placeholder="请输入昵称" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">手机</label>
            <div class="layui-input-inline">
              <input type="text" name="phone" value="{$user.phone}" lay-verify="adminPhone" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-inline">
              <input type="text" name="email" value="{$user.email}" lay-verify="adminEmail" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
              <textarea name="remark" placeholder="请输入内容" class="layui-textarea">{$user.remark}</textarea>
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-input-block">
            	<input type="hidden" name="{:config('this.form_token')}" value="{$Request.token}" />
              <button class="layui-btn layui-btn-asuma" lay-submit lay-filter="setmyinfo" data-url="{:url('updateUserInfo')}">确认修改</button>
              <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{/block}
{block name="footjs"}
<script type="text/javascript" src="__STATIC__/mod/admin/systemset/userinfo.js"></script>
{/block}