{extend name="public/base" /}
{block name="title"}后台管理员{/block}
{block name="content"}
<div class="layui-fluid">
<div class="layui-row layui-col-space15">
  <div class="layui-col-md12">
    <div class="layui-card">
      <div class="layui-card-header">设置我的资料</div>
      <div class="layui-card-body" pad15>
        
        <div class="layui-form" lay-filter="">
          <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
            	<div class="layui-form-mid layui-elip">不可修改</div>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">我的角色</label>
            <div class="layui-form-mid layui-elip">不可修改</div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-inline">
              <input type="text" name="nickname" value="贤心" lay-verify="nickname" autocomplete="off" placeholder="请输入昵称" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">头像</label>
            <div class="layui-input-inline">
              <input name="avatar" lay-verify="required" id="LAY_avatarSrc" placeholder="图片地址" value="http://cdn.layui.com/avatar/168.jpg" class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
              <button type="button" class="layui-btn layui-btn-primary" id="LAY_avatarUpload">
                <i class="layui-icon">&#xe67c;</i>上传图片
              </button>
              <button class="layui-btn layui-btn-primary" layadmin-event="avartatPreview">查看图片</button >
            </div>
         </div>
          <div class="layui-form-item">
            <label class="layui-form-label">手机</label>
            <div class="layui-input-inline">
              <input type="text" name="cellphone" value="" lay-verify="phone" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-inline">
              <input type="text" name="email" value="" lay-verify="email" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
              <textarea name="remarks" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn layui-btn-asuma" lay-submit lay-filter="setmyinfo">确认修改</button>
              <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
</div>
{/block}
{block name="footjs"}
<script>
  layui.use(['form']);
  </script>
{/block}