{extend name="public/base" /}
{block name="title"}首次登录验证{/block}
{block name="css"}
	<link rel="stylesheet" href="__THIRD__/ydui/css/ydui.css">
	<link rel="stylesheet" href="__CSS__/ding/firstlogin.css">
{/block}
{block name="content"}
	<div class="scan-apply">
	    <img src="__IMAGE__/ding/wjshop.png" alt="" />
	    <h3>需先验证您在<b style="color: #0082ff;">微金小店</b>注册的手机号</h3>
	    <form id="loginform">
	        <label class="phone">
	            <input type="number" value="" name="phone" placeholder="请输入手机号" pattern="[0-9]" id="listenPhone" data-url="{:url('ding/checkPhone')}"/>
	        </label>
	       	<label class="name">
	            <input type="text" name="name" value="" readonly="readonly" id="username"/>
	        </label>
	    </form>
	    <span class="error-tip"></span>
	    <button type="button" class="btn btn-success" id="firstlogin">确定</button>
	    <p class="btn btn-cancel" >取消</p>
	</div>
	<div class="m-keyboard" id="J_KeyBoard" data-url="{:url('markLinkLogin')}" data-reload="{:url('/redirect')}">
        <!-- 自定义内容区域 -->
        <style type="text/css">.keyboard-title:before{color: #0082ff;}</style>
        <div style="text-align: right;padding: .15rem .8rem 0;"><a id="J_GetCode" data-url="{:Url::build('/do/sendmsg')}">获取安全码</a></div>
        <!-- 自定义内容区域 -->
    </div>
{/block}
{block name="footjs"}
	<script src="__THIRD__/ydui/js/ydui.flexible.js" type="text/javascript"></script>
	<script src="__THIRD__/ydui/js/ydui.js" type="text/javascript"></script>
	<script src="__JS__/ding/firstlogin.js" type="text/javascript" charset="utf-8"></script>
{/block}